{% import 'macros/form.html' as form %}

{%   resource 'wirecloud_typeahead/wirecloud_typeahead.js' %}

<div class="control-group control-full">
    <label class="control-label" for="field-wirecloud_url"><span title="This field is required" class="control-required">*</span> Wirecloud url</label>
    <div class="controls ">      
    	<input id="field-wirecloud_url" type="text" name="wirecloud_url" value="{{data.wirecloud_url}}" placeholder="Search dashboard." autocomplete="off" data-module="wirecloud_typeahead" data-module-workspaces="{{h.get_workspaces()}}" data-module-baseurl = "{{h.get_base_url()}}">      
    </div>
  </div>